.heading{
    font-family: Helvetica;
    font-size: 50px;
    color: cornflowerblue;
  }
  
  .center{
    text-align: center;
  }
  
  .paragraph{
    font-family: Helvetica;
    font-size: 13px;
    color: black;
    margin: 20px;
  }
  
  #galaxy{
    width: 500px;
    height: 300px;
  }
  
  body{
    background-color: ghostwhite;
  }